body{
    background:  linear-gradient(135deg, rgba(188,111,179,1) 0%,rgba(93,203,247,1) 46%,rgba(42,176,237,1) 65%,rgba(216,119,208,1) 100%);
    background-attachment: fixed;
}
.kids-section {
    height: 540px;
    padding: 0;
    margin: 5px;
    top: 50px;
    position: absolute;
    right: 0;
    width: 450px;
    background-color: rgb(181, 136, 199);
    box-shadow: 0 0 4px 4px #0c099b;
    overflow: scroll;
}
.head-section {
    text-align: center;
    background-color: rgb(102, 7, 59);
    color: rgb(250, 244, 242);
    font-size: 30px;
    border: 1px solid rgb(36, 36, 36);
    position: sticky;
    top: 0;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
.kids {
    width: 390px;
    padding: 18px;
}
 .items {
    background-color: white;
    border: solid black 1px;
    display: inline-block;
    box-shadow: 0 0 2px 1px #000000;
   
}
.items-men
{
    height: 230px;
    width: 160px;
    padding: 10px;
    margin: 5px;
}
.items-women{
    margin: 15px;
    padding: 15px;
    width: 150px ;
    height: 250px;
}
.items-kids{
    width: 150px;
    height: 260px;
    margin: 10px;
    padding: 10px;
}
.title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
img.section-img {
    width: 130px;
    height: 145px;
    padding: 10px;
}

img.section-img-women {
    width: 140px;
    height: 145px;
    padding: 10px;
}
ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); 
}
ul li:hover {
    transform: scale(1.2);
}
ul{
    /*background: linear-gradient(135deg, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%);
   */ padding-left: 20px;
    margin: 0;
    list-style: none;
    position: fixed;
}
ul li a {
    text-align: center;
    color: cornsilk;
    width: 350px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    font-size: 25px;
}

ul li a:hover {
    box-shadow: 0 0 15px 2px #534242;
    transform: scale(1.2);
}
.overview {
    overflow: hidden;
    width: 1300px;
    height: 560px;
    margin-top: 40px;
    margin-left: 30px;
}
.class1 {
    margin-top: 80px;
    height: 500px;
    width: 1330px;
}

.product {
    display: flex;
    overflow: hidden;
}
.element-class {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.element {
    display: inline-block;
    width: 400px;
    text-align: center;
    border: black 1px solid;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    background: brown;
    color: wheat;
}

.element:hover {
    background-color: darkslategray;
    color: white;
}
div div a{
    color: coral;
}
/*div div img{
    vertical-align: auto;
}*/
.horizontal-scr {
    background-color: transparent;
    border: 1px solid black;
    height: 260px;
    width: 1820px;
    overflow: auto;
    white-space: nowrap;
}

.horizontal {
    display: inline-block;
    border: 1px solid black;
    height: 220px;
    width: 300px;
    margin-left: 20px;
}

.horizontal:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 2px 1px #000000;
}

.product1 {
    position: relative;
    border: gray 2px solid;
    width: 255px;
    height: 400px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px 1px #080808;
    background-color: white;
    border-radius: 10px;
}

.product1:hover , .items:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.kid-img {
    height: 230px;
    width: 230px;
}

.product1 .title {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 20px;
}

.product1 .description {
    margin: 10px;
    font-size: 18px;
    color: gray;
}

.product1 .price {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.product1 .ribbon {
    background-color: red;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px black;
    width: 300px;
    box-shadow: 0 0 10px 1px #080808;
    border-radius: 100px;
}

.product1 .ribbon-left {
    transform: rotate(-35deg);
    position: absolute;
    left: -90px;
    top: 10px;
}